<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn3-fCVSiuXoS-7h8o_fJvVnwl0p8Enlw</string>
	<key>GCM_SENDER_ID</key>
	<string>855030531719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gif</string>
	<key>PROJECT_ID</key>
	<string>giphy-f03c8</string>
	<key>STORAGE_BUCKET</key>
	<string>giphy-f03c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855030531719:ios:2318ba25b94bc096c59a22</string>
</dict>
</plist>